{% extends 'Home.html' %}
{%block content%}
<h2><u>About Us</u></h2>
<article>
   In education, the electronic portfolio is a collection of a students' work that can advance learning by providing a way for them to organize, archive, and display work. The electronic format allows an instructor to evaluate student portfolios via the Internet, CD-ROM, DVD, or zip disk. Electronic portfolios have become a popular alternative to paper-based portfolios because they provide the opportunity to review, communicate and give feedback in an asynchronous manner. In addition, students are able to reflect on their work, which makes the experience of creating the e-portfolio meaningful. A student e-portfolio may be shared with a prospective employer or used to record the achievement of program or course specific learning outcomes.

The uses of e-portfolios are most common in the courses with departments of education. Most preservice teachers are asked to compile an e-portfolio to demonstrate competencies needed to gain teaching certification or licensure. Student e-portfolios are increasingly being used in other disciplines such as communications, math, business, nursing, engineering and architecture. In education e-portfolios have six major functions:

Document skills and learning;
Record and track development within a program;
Plan educational programs;
Evaluate and monitor performance;
Evaluate a course;
Find a job
In general e-portfolios promote critical thinking and support the development of technology literacy skills. Faculty now use e-portfolios to record course or discipline designs that may be shared with colleagues to promote teaching and learning. A teaching e-portfolio is used to showcase career accomplishments. Different sorts of files can be added here which the marking and other work is easier for the student as well as tutor.

E-portfolios also help to foster an independent and autonomous way of thinking, according to Strivens. This is in large part because people must focus on their collective work, think about how it will be portrayed, and what the work says about them as an individual. The individual is then in charge of their learning and the choice of where to demonstrate their proficiency. People are also forced to reflect on what they have learned and how they plan to build and improve in the future. This helps people to become better critical thinkers and helps them to develop their writing and multimedia skills. Today, many students are using multimedia such as Facebook, Twitter, and texting—all informal settings. The electronic portfolio, on the other hand, is a more formal setting where students must apply both their knowledge of how the web works and the message they want to convey. In this sense, students' use and comfort with the web at times can be a hindrance if they are not taught to use electronic portfolios in the correct fashion, suggests Lane. Many universities and schools are currently working to make sure that students are gaining practice and experience with electronic portfolios so that they are able to use them to the best of their ability. For example, in places like Michigan students can earn the MCOATT (Michigan Certificate of Outstanding Achievement in Teaching Technology) for submitting an electronic portfolio which demonstrates evidence of technology being used in the classroom. This consortium is an organization aimed to make Michigan one of the leaders in integrating technology into the training of young professionals.


</article>

{% endblock %}

