{% extends 'Home.html' %}
{%block content%}

<form method="POST" enctype="multipart/form-data" align="center">
    {% csrf_token %}
    <h2><u>Add Teacher</u></h2>
    <table align="center">
    {{ form.as_table}}
    </table><br>
    <input type="submit" value="Save"/>
</form>



{% endblock %}

