<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
<!--    Adding for carousel-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <title>Altitude</title>
    <style>
        footer {
        text-align : center;
        background-color : #333;
        color : #fff;
        padding : 20px ;

        }

        header {
        text-align : center;
        color : #333;
        padding : 10px;
        }

        .fit_screen {
                width:100%;
                height:750px;
                object-fit:cover

        }
        .body_style {
            padding: 0 45px;
        }


    </style>

</head>
<body class="body_style">
    <header>
        <h1>PORTFOLIO</h1>
    </header>
    <br>
    <br>
    <div>
        {% if isabout %}
            <a href="{% url 'home' %}">Home</a>
            <a href="/Login">Log in</a>
            <a href="/Portfolio">Tutor's Porfolio</a>
        {% elif isportfolio %}
            <a href="{% url 'home' %}">Home</a>
            <a href="/Login">Log in</a>
            <a href="/About">About</a>
        {% elif ishome %}
            <a href="/Login">Log in</a>
            <a href="/Portfolio">Tutor's Porfolio</a>
            <a href="/About">About</a>
        {% elif islogin %}
            <a href="{% url 'home' %}">Home</a>
            <a href="/Portfolio">Tutor's Porfolio</a>
            <a href="/About">About</a>
        {% else %}
            <a href="{% url 'home' %}">Home</a>
            <a href="/Login">Log in</a>
            <a href="/Portfolio">Tutor's Porfolio</a>
            <a href="/About">About</a>
        {% endif %}
    </div>
    <br>
    <br>
    <main >
        {%block content%}
<!--            <img class="fit_screen" src="{% static '/img_theme1.jpg' %}"-->
<!--				   alt = "Geeks Image"  />-->
<!--        Adding for carousel-->
        <div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static '/img_theme1.jpg' %}" alt="Theme1" style="width:100%;">
      </div>

      <div class="item">
        <img src="{% static '/img_theme2.jpg' %}" alt="Theme2" style="width:100%;">
      </div>

      <div class="item">
        <img src="{% static '/img_theme3.jpg' %}" alt="Theme3" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

        {% endblock %}


    </main>
    <br>
    <br>
    <footer>
        <p>Copyright &copy; 2020, Tutor Portfolio</p>
    </footer>
</body>
</html>


