{% extends 'Home.html' %}
{% load static %}
{% block content %}
<style>
.login-box {
    width: 280px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    colour: grey;
    margin:  0 10px;
}
.login_body {
    margin: 0;
    padding: 180px;
    font-family: sans-serif;
}
.textbox{
    width=100%;
    overflow: hidden;
    font-size: 20px;
    padding : 6px 0;
    margin : 2px 0;
    border-bottom: 1px solid #4caf50;

}
.btn {
    width : 90%;
    background : none;
    padding: 4px;
    font-size: 18px;
    margin : 12px 2px;
    font-weight: bold;
    border-radius: 50%;
    border-style: solid;
    border: 2px solid #333;

}
</style>
<form method="post" class="login_body" action="." enctype="multipart/form-data">
    {% csrf_token %}

    <div class="login-box">
    <img class="img_avatar" src="{% static '/avatar.png' %}"  alt="avatar" height="240"  width="200"  /><br>
    <label><b>FirstName:</b></label>
    <input type="text" class="textbox" name="fname" required/>
    <br>
    <label><b>Email:</b></label>
    <input type="text" class="textbox"  name="email" required />
    <br>
    <input type="submit" value="Sign in" class="btn">
        <p align="center">{{label}}</p>
        </div>
</form>
{% endblock %}
