{% extends 'Home.html' %}
{%block content%}
<h3 align="center"><u>Detail Portfolio</u></h3>
<style>
.modal-content {
  margin: 0 10px;
  padding: 20px 30px;
<!--  border: 1px solid #888;-->

}
.modal {
        width: 330px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
<!--    background-color: #b2beb5;-->
    margin:  0 10px;
    height=300px;
    overflow:auto;
    z-index: 1;

}
</style>
<table enctype="multipart/form-data" align="center">
        {% csrf_token %}
    {% for item in obj %}
            <tr style="font-weight:bold"><td>Name:</td><td>{{item.first_name|add:item.last_name}}</td></tr>
            <tr><td></td><td><img src= "{{ item.profile.url }}" height="200"/></td></tr>
<!--                <td><input type="button" value="Teach" id="btn" class="my_btn" data-target="modal"></td>-->
            <tr><td>Email:</td><td>{{ item.email}}</td></tr>
            <tr><td>Phone:</td><td>{{ item.phone}}</td></tr>
            <tr><td>Room No:</td><td>{{ item.room}}</td></tr>
            <tsr><td>Subjects:</td><td>{{ item.subjects}}</td></tsr>
            <tr></tr>
<tr></tr>
    {% endfor %}
</table>

{% endblock %}
